.badge {
  cursor: pointer;
  width: fit-content;
  padding: var(--y-space-4) var(--y-space-16);
  border-radius: var(--y-space-10);
  color: var(--y-color-bg);
  font-size: var(--y-space-12);
  font-weight: 300;
  text-align: center;
  text-wrap: nowrap;
}
.badge.new {
  background-color: var(--y-color-primary);
}
.badge.sale {
  background-color: var(--y-color-danger);
}

.badge.absoulte {
  position: absolute;
  top: var(--y-space-14);
  right: var(--y-space-12);
}
