<div class="product-item">
  <button><img src="../../assets/red-trash.svg" alt=""></button>
  <img src="../../assets/pro1.jpg" alt="">
  <div class="content">
    <p>باقة الجوري الأحمر الكلاسيكية</p>
    <div class="bottom">
      <div class="first">
        <button>حذف<img src="../../assets/red-trash.svg" alt=""></button>
        <div class="quantity">
          <button>-</button>
          <input type="number" value="1">
          <button>+</button>
        </div>

      </div>
      <div class="first">
        <p class="price-value">
          <span>1200</span> <img src="../../assets/ryal-red.svg" alt="">
          <span class="grey-ryal">1500 <img src="../../assets/ryal.svg" alt=""></span>
        </p>
        <p class="price-value">
          الاجمالي :
          <span>1200</span> <img src="../../assets/ryal.svg" alt="">
        </p>

      </div>
    </div>
  </div>

</div>