<div class="box doctor-info">

    <div class="top">
        <img src="../../assets/doctor-img.jpg" alt="">
        <div class="desc">
            <p>دكتور يوسف منصور</p>
            <p>استاذ جامعى تخصص عظام</p>
        </div>
    </div>

    <div class="bottom">
        <div class="rating">
            <strong>5</strong>
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="views">
            <p>5000</p>
            <img src="../../assets/eye.svg" alt="">
        </div>
    </div>
    <a href="../booking/booking-doctor.html" class="btn main-button fw">احجز اليوم (04:00 مساءًا - 07:00
        مساءًا) </a>
</div>