.menue-box {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--y-space-16);
  justify-content: center;
  align-items: center;
}
.menue-box p {
  font-size: var(--y-space-16);
  font-weight: 400;
  color: var(--y-color-txt);
  text-align: center;
}
.menue-box input {
  display: none;
}
.menue-box input:checked + label img {
  rotate: 180deg;
}
.menue-box input:checked ~ .menu {
  display: flex;
}
.menue-box label {
  font-size: var(--y-space-16);
  font-weight: 400;
  color: var(--y-color-txt);
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--y-space-8);
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.menue-box label img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  transition: all 0.3s ease;
}
.menue-box .menu {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  background-color: var(--y-color-bg);
  box-shadow: var(--y-color-shadow);
  border-radius: var(--y-radius-l);
  padding: var(--y-space-16);
  display: none;
  flex-direction: column;
  gap: var(--y-space-16);
}
