<!-- product card Sale -->
<li class="card">
<a href="../product-details/product-details.html">
  <div class="img">
    <img src="../../assets/pro1.jpg" alt="">
    <i class="heart fa-solid fa-heart"></i>
    <div class="badge absoulte sale">خصم 15%</div>
    <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg" alt=""></button>
  </div>
</a>
<div class="content">
  <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
    <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
  </div>
  <p class="price-value">
    <span>
      150 <img src="../../assets/ryal-red.svg" alt="">
    </span>
    <span class="grey-ryal">200 <img src="../../assets/ryal.svg" alt=""></span>
  </p>
</div>

</li>


<!-- product card New -->
<li class="card">
  <a href="../product-details/product-details.html">
    <div class="img">
      <img src="../../assets/pro1.jpg" alt="">
      <i class="heart fa-solid fa-heart"></i>
      <div class="badge absoulte new">وصل حديثا</div>
      <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg" alt=""></button>
    </div>

  </a>
  <div class="content">
    <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
      <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
    </div>
    <p class="price-value">
      <span>
        200 <img src="../../assets/ryal.svg" alt="">
      </span>
    </p>
  </div>

</li>