.quantity {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: stretch;
  max-width: 110px;
  border-radius: var(--y-radius-s);
  gap: var(--y-space-4);
  color: var(--y-color-txt);
}
.quantity button {
  color: var(--y-color-txt);
  border: none;
  cursor: pointer;
  font-size: var(--y-space-20);
  font-weight: 700;
  background-color: transparent;
  border: 1px solid var(--y-color-primary);
  border-radius: var(--y-space-10);
}
.quantity button:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.quantity button:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.quantity button i {
  font-size: var(--y-space-22);
}
.quantity input {
  width: 100%;
  text-align: center;
  border: none;
  font-size: var(--y-space-20);
  font-weight: 700;
  background-color: transparent;
  color: var(--y-color-txt);
  border: 1px solid var(--y-color-primary);
}
.quantity input:focus-visible {
  outline: none;
}

@media (max-width: 768px) {
  .quantity button {
    font-size: var(--y-space-16) !important;
  }
  .quantity input {
    font-size: var(--y-space-16) !important;
  }
}
