<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Clinic</title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/pagination.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/quantity.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/breadcrumbs.css" />
  <link rel="stylesheet" href="../../components/badge.css" />
  <link rel="stylesheet" href="../../components/price-value.css" />
  <link rel="stylesheet" href="product-details.css" />


  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>

    <section class="details-section">
      <div class="container y-u-max-w-1200">
        <!-- <div class="breadcrumbs">
          <a href="../layout/index.html"><i class="fa-solid fa-house"></i></a>
          < <a href="../store/store.html">المتجر</a>
            < <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
        </div> -->
      </div>

      <div class="container y-u-max-w-1200">
        <!-- <div class="imgs-section">
          <div class="imgs">
            <img src="../../assets/pro1-sub1.jpg" alt="">
            <img src="../../assets/pro1-sub2.jpg" alt="">
            <img src="../../assets/pro1-sub3.jpg" alt="">
          </div>
          <div class="main-img">
            <img src="../../assets/pro1.jpg" alt="">
            <i class="heart fa-solid fa-heart active"></i>
          </div>



        </div>
        <div class="content">
          <div class="header">
            <h3>عباية ربع كلوش باللون الكحلي بكسرات</h3>
            <span class="badge new">وصل حديثا</span>
          </div>

          <p>رمز المنتج: <span>B12c0234</span></p>
          <div class="rating">
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>
            <p>4.5</p>
            <p>(123) تقييم</p>

          </div>
          <div class="price">
            <p>السعر</p>
            <p class="price-value">
              <span>150 <img src="../../assets/ryal-red.svg" alt=""></span>
              <span class="grey-ryal">200 <img src="../../assets/ryal.svg" alt=""></span>
            </p>
            <div class="badge sale">خصم 15%</div>
          </div>
          <div class="color">
            <p>اللون</p>
            <div class="color-grid">
              <label for="color-1">
                <input type="radio" name="color" id="color-1">
                <div class="color-item"></div>
              </label>
              <label for="color-2">
                <input type="radio" name="color" id="color-2">
                <div class="color-item"></div>
              </label>
              <label for="color-3">
                <input type="radio" name="color" id="color-3">
                <div class="color-item"></div>
              </label>
              <label for="color-4">
                <input type="radio" name="color" id="color-4">
                <div class="color-item"></div>
              </label>
            </div>
          </div>
          <div class="middel-section">
            <div class="right">
              <p>المقاس</p>

              <input type="checkbox" id="toggle-6" class="toggle-checkbox">
              <label class="top" for="toggle-6">
                <p>اختر المقاس المناسب لك</p>
                <img src="../../assets/bottom-arrow.svg" alt="">
              </label>
              <div class="content">
                <button value="s">S</button>
                <button value="m">M</button>
                <button value="l">L</button>
                <button value="xl">XL</button>
                <button value="xxl">XXL</button>
              </div>
            </div>
            <div class="left">
              <p>الكمية</p>
              <div class="quantity">
                <button>-</button>
                <input type="number" value="1">
                <button>+</button>
              </div>
            </div>


          </div>

          <div class="buttons">
            <button class="btn main-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg" alt=""></button>
          </div>
        </div> -->

      </div>
    </section>
    <section class="more-details">
      <!-- <div class="container y-u-max-w-1200">
        <input type="radio" name="tabs" id="desc-tab" class="tab-radio" checked />

        <div class="tabs">
          <label class="tab-button" for="desc-tab">الوصف</label>
        </div>
        <div class="tab-contents">
          <div class="desc-content" data-content="desc">
            <p>تميزي بإطلالة راقية وأنيقة مع عباية ربع كلوش باللون الكحلي بتصميم عصري يجمع بين البساطة والفخامة. تأتي
              العباية بقصة ربع كلوش تضيف انسيابية ناعمة، وتزينها كسرات أنيقة تمنح التصميم لمسة من الحيوية والحركة، لتكون
              خيارك المثالي للمناسبات اليومية والرسمية بإطلالة هادئة وعصرية.</p>
            <div class="detail">
              <p>المواصفات :</p>
              <ol>
                <li>الخامة : قماش ناعم وانسيابي</li>
                <li>اللون : كحلي أنيق</li>
                <li>القصة : ربع كلوش بانسيابية مميزة</li>
                <li>التفاصيل : كسرات موزعة تمنح العباية شكلًا جذابًا</li>
                <li>الإغلاق : مفتوحة أو بإمكانية تعديل حسب الرغبة</li>
                <li>المقاسات : متوفرة بمقاسات متعددة</li>
              </ol>
            </div>
            <div class="detail">
              <p>المميزات :</p>
              <ol>
                <li>لون كحلي أنيق : يعكس الفخامة والهدوء في آنٍ واحد</li>
                <li>قصة كلوش عملية : تمنحك حرية الحركة وشكلًا أنثويًا
                </li>
                <li>كسرات أنيقة : تضيف لمسة عصرية وانسيابية جذابة</li>
                <li>مثالية للمناسبات : تصميم راقٍ يناسب العمل والخروج والمناسبات
                </li>
                <li>قماش مريح: يمنحك الراحة والأناقة طوال اليوم</li>
              </ol>
            </div>
          </div>

        </div>
      </div> -->
    </section>

  </main>


  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
</body>

</html>