<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> My Clinic </title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />

  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />

  <link rel="stylesheet" href="../../components/products.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/breadcrumbs.css" />
  <link rel="stylesheet" href="../../components/badge.css" />
  <link rel="stylesheet" href="../../components/price-value.css" />
  <link rel="stylesheet" href="./store.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>

    <section class="store-section">
      <div class="container y-u-max-w-1200">
        <!-- <div class="breadcrumbs">
          <a href="../layout/index.html"><i class="fa-solid fa-house"></i></a>
          /
          <p>المنتجات</p>
        </div>
        <div class="bottom">
          <input type="checkbox" id="toggle-filter" class="toggle-checkbox">
          <label class="top" for="toggle-filter">
            <p>تصفية</p>
            <i class="fa-solid fa-filter"></i>
          </label>
          <div class="sidebar">

            <div class="items">
              <input type="checkbox" id="toggle-1" class="toggle-checkbox" checked>
              <label class="top" for="toggle-1">
                <p>عبايات</p>
                <img src="../../assets/bottom-arrow.svg" alt="">
              </label>
              <div class="content">
              </div>

            </div>
            <div class="items">
              <label class="top">
                <button>وصل حديثا</button>
              </label>


            </div>
            <div class="items">
              <label class="top">
                <button> عروض خاصة </button>
              </label>


            </div>
            <div class="items">
              <input type="checkbox" id="toggle-4" class="toggle-checkbox">
              <label class="top" for="toggle-4">
                <p>طرحات</p>
                <img src="../../assets/bottom-arrow.svg" alt="">
              </label>
              <div class="content">
              </div>

            </div>
            <div class="items">
              <input type="checkbox" id="toggle-5" class="toggle-checkbox">
              <label class="top" for="toggle-5">
                <p>اللون</p>
                <img src="../../assets/bottom-arrow.svg" alt="">
              </label>
              <div class="content">
                <button>أحمر</button>
                <button> أسود</button>

              </div>

            </div>
            <div class="items">
              <input type="checkbox" id="toggle-6" class="toggle-checkbox">
              <label class="top" for="toggle-6">
                <p>السعر</p>
                <img src="../../assets/bottom-arrow.svg" alt="">
              </label>
              <div class="content">
                <button>اقل من 150 <img src="../../assets/ryal.svg" alt=""></button>
                <button> اكبر من 150 <img src="../../assets/ryal.svg" alt=""> و اقل من 200 <img
                    src="../../assets/ryal.svg" alt=""></button>
                <button>اكبر من 200 <img src="../../assets/ryal.svg" alt=""></button>
              </div>

            </div>

          </div>




          <div class="products-section">

            <div class="container">
              <div class="filter">
                <button class="reset">
                  اعادة تعيين الفلترة
                </button>
                <p> أحمر<button><i class="fa-solid fa-xmark"></i></button></p>
                <p> اقل من 1000 <img src="../../assets/ryal.svg" alt=""><button><i
                      class="fa-solid fa-xmark"></i></button></p>
              </div>
              <ul class="grid">
                <li class="card">
                  <a href="../product-details/product-details.html">
                    <div class="img">
                      <img src="../../assets/pro1.jpg" alt="">
                      <i class="heart fa-solid fa-heart"></i>
                      <div class="badge absoulte sale">خصم 15%</div>
                      <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                          alt=""></button>
                    </div>
                  </a>
                  <div class="content">
                    <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                      <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
                    </div>
                    <p class="price-value">
                      <span>
                        150 <img src="../../assets/ryal-red.svg" alt="">
                      </span>
                      <span class="grey-ryal">200 <img src="../../assets/ryal.svg" alt=""></span>
                    </p>
                  </div>

                </li>
                <li class="card">
                  <a href="../product-details/product-details.html">
                    <div class="img">
                      <img src="../../assets/pro1.jpg" alt="">
                      <i class="heart fa-solid fa-heart"></i>
                      <div class="badge absoulte new">وصل حديثا</div>
                      <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                          alt=""></button>
                    </div>

                  </a>
                  <div class="content">
                    <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                      <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
                    </div>
                    <p class="price-value">
                      <span>
                        200 <img src="../../assets/ryal.svg" alt="">
                      </span>
                    </p>
                  </div>

                </li>
                <li class="card">
                  <a href="../product-details/product-details.html">
                    <div class="img">
                      <img src="../../assets/pro1.jpg" alt="">
                      <i class="heart fa-solid fa-heart"></i>
                      <div class="badge absoulte sale">خصم 15%</div>
                      <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                          alt=""></button>
                    </div>
                  </a>
                  <div class="content">
                    <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                      <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
                    </div>
                    <p class="price-value">
                      <span>
                        150 <img src="../../assets/ryal-red.svg" alt="">
                      </span>
                      <span class="grey-ryal">200 <img src="../../assets/ryal.svg" alt=""></span>
                    </p>
                  </div>

                </li>
                <li class="card">
                  <a href="../product-details/product-details.html">
                    <div class="img">
                      <img src="../../assets/pro1.jpg" alt="">
                      <i class="heart fa-solid fa-heart"></i>
                      <div class="badge absoulte new">جديد</div>
                      <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                          alt=""></button>
                    </div>

                  </a>
                  <div class="content">
                    <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                      <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
                    </div>
                    <p class="price-value">
                      <span>
                        200 <img src="../../assets/ryal.svg" alt="">
                      </span>
                    </p>
                  </div>

                </li>
                <li class="card">
                  <a href="../product-details/product-details.html">
                    <div class="img">
                      <img src="../../assets/pro1.jpg" alt="">
                      <i class="heart fa-solid fa-heart"></i>
                      <div class="badge absoulte sale">خصم 15%</div>
                      <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                          alt=""></button>
                    </div>
                  </a>
                  <div class="content">
                    <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                      <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
                    </div>
                    <p class="price-value">
                      <span>
                        150 <img src="../../assets/ryal-red.svg" alt="">
                      </span>
                      <span class="grey-ryal">200 <img src="../../assets/ryal.svg" alt=""></span>
                    </p>
                  </div>

                </li>
                <li class="card">
                  <a href="../product-details/product-details.html">
                    <div class="img">
                      <img src="../../assets/pro1.jpg" alt="">
                      <i class="heart fa-solid fa-heart"></i>
                      <div class="badge absoulte new">جديد</div>
                      <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                          alt=""></button>
                    </div>

                  </a>
                  <div class="content">
                    <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                      <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
                    </div>
                    <p class="price-value">
                      <span>
                        200 <img src="../../assets/ryal.svg" alt="">
                      </span>
                    </p>
                  </div>

                </li>
                <li class="card">
                  <a href="../product-details/product-details.html">
                    <div class="img">
                      <img src="../../assets/pro1.jpg" alt="">
                      <i class="heart fa-solid fa-heart"></i>
                      <div class="badge absoulte sale">خصم 15%</div>
                      <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                          alt=""></button>
                    </div>
                  </a>
                  <div class="content">
                    <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                      <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
                    </div>
                    <p class="price-value">
                      <span>
                        150 <img src="../../assets/ryal-red.svg" alt="">
                      </span>
                      <span class="grey-ryal">200 <img src="../../assets/ryal.svg" alt=""></span>
                    </p>
                  </div>

                </li>
                <li class="card">
                  <a href="../product-details/product-details.html">
                    <div class="img">
                      <img src="../../assets/pro1.jpg" alt="">
                      <i class="heart fa-solid fa-heart"></i>
                      <div class="badge absoulte new">جديد</div>
                      <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                          alt=""></button>
                    </div>

                  </a>
                  <div class="content">
                    <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                      <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
                    </div>
                    <p class="price-value">
                      <span>
                        200 <img src="../../assets/ryal.svg" alt="">
                      </span>
                    </p>
                  </div>

                </li>
                <li class="card">
                  <a href="../product-details/product-details.html">
                    <div class="img">
                      <img src="../../assets/pro1.jpg" alt="">
                      <i class="heart fa-solid fa-heart"></i>
                      <div class="badge absoulte sale">خصم 15%</div>
                      <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                          alt=""></button>
                    </div>
                  </a>
                  <div class="content">
                    <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                      <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
                    </div>
                    <p class="price-value">
                      <span>
                        150 <img src="../../assets/ryal-red.svg" alt="">
                      </span>
                      <span class="grey-ryal">200 <img src="../../assets/ryal.svg" alt=""></span>
                    </p>
                  </div>

                </li>

              </ul>
              <button class="btn main-button center"> المزيد</button>
            </div>
          </div>
        </div> -->
    </section>





  </main>

  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
</body>

</html>