<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Clinic</title>
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="manifest" href="../manifest.json" />

  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />

  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/toggle.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/call-center.css" />
  <link rel="stylesheet" href="../../components/products-table.css" />
  <link rel="stylesheet" href="payment.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>

  <y-navbar></y-navbar>
  <main>
    <section class="container y-u-max-w-1200 payment-section">
      <!-- <div class="header">
        <h2>الدفع</h2>
      </div>
      <div class="bottom-section">
        <form action="">
          <h2>معلومات الاتصال</h2>
          <input type="text" placeholder="البريد الإلكتروني">
          <h2>معلومات الدفع</h2>
          <div class="form-group"> <input type="text" placeholder=" الاسم الاول
                ">
            <input type="text" placeholder=" الاسم الثاني">
          </div>

          <input type="text" placeholder="رقم الهاتف">
          <input type="text" placeholder="العنوان">
          <div class="form-group">
            <input type="text" placeholder="المحافظة">
            <input type="text" placeholder="المدينة">
          </div>
          <div class="form-group">
            <input type="text" placeholder="الرمز البريدي">

            <input type="text" placeholder="رقم الجوال">
          </div>
          <h2>طريقة الدفع</h2>
          <div class="radio-group"> <input type="radio" name="payment" id="card">
            <label for="card"> الدفع عند الاستلام</label>
          </div>
          <div class="radio-group"> <input type="radio" name="payment" id="card">
            <label for="card"> visa</label>
          </div>


          <button class="btn main-button fw">اكمل الطلب</button>


        </form>
        <div class="products">
          <div class="product-grid">
            <div class="product-item">
              <img src="../../assets/pro1.jpg" alt="">
              <div class="content">
                <p>باقة الجوري الأحمر الكلاسيكية</p>
                <div class="bottom">
                  <div class="right">
                    <p>الكمية : <span>1</span></p>

                  </div>
                  <p>1200 <img src="../../assets/ryal.svg" alt=""></p>
                </div>
              </div>

            </div>
            <div class="product-item">
              <img src="../../assets/pro1.jpg" alt="">
              <div class="content">
                <p>باقة الجوري الأحمر الكلاسيكية</p>
                <div class="bottom">
                  <div class="right">
                    <p>الكمية : <span>1</span></p>

                  </div>
                  <p>1200 <img src="../../assets/ryal.svg" alt=""></p>
                </div>
              </div>

            </div>
          </div>

          <div class="total">
            <p>المجموع <span class="y-u-flex y-u-items-center y-u-gap-8">100 <img src="../../assets/ryal.svg"
                  alt=""></span></p>
            <p> ضريبة القيمة المضافة <span class="y-u-flex y-u-items-center y-u-gap-8">1100 <img
                  src="../../assets/ryal.svg" alt=""></span></p>
            <p>
            <p> رسوم التوصيل <span class="y-u-flex y-u-items-center y-u-gap-8">1100 <img src="../../assets/ryal.svg"
                  alt=""></span></p>
            <p>

              <span>الإجمالي السعر

                <span>(شامل ضريبة القيمة المضافة 15%)</span>
              </span>
              <span class="y-u-flex y-u-items-center y-u-gap-8">1100 <img src="../../assets/ryal.svg" alt=""></span>
            </p>
          </div>

        </div>
      </div> -->



    </section>
  </main>
  <y-footer></y-footer>


  <script src="../../js/y-app-init.js"></script>
</body>

</html>