<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> My Clinic</title>
  <link rel="manifest" href="../manifest.json" />

  <link rel="icon" href="../../assets/icon.png" />

  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />

  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/toggle.css" />

  <link rel="stylesheet" href="../../components/products.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/badge.css" />
  <link rel="stylesheet" href="../../components/price-value.css" />
  <link rel="stylesheet" href="./layout.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>
    <section class="hero-section ">
      <div class="cards">
        <div class="card">
          <img src="../../assets/hero1.jpg" alt="">
          <div class="content">
            <h2>دورك الآن مضمون</h2>
            <p>ودع الإنتظار  واحجز دورك فى افضل عيادات مع أفضل الأطباء</p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/hero2.jpg" alt="">
          <div class="content">
            <h2>دورك الآن مضمون</h2>
            <p>ودع الإنتظار  واحجز دورك فى افضل عيادات مع أفضل أطباء</p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/hero3.jpg" alt="">
          <div class="content">
            <h2>دورك الآن مضمون</h2>
            <p>ودع الإنتظار  واحجز دورك فى افضل عيادات مع أفضل أطباء</p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/hero4.jpg" alt="">
          <div class="content">
            <h2>دورك الآن مضمون</h2>
            <p>ودع الإنتظار  واحجز دورك فى افضل عيادات مع أفضل أطباء</p>
          </div>
        </div>
      </div>
      <div class="lists">
        <h2>احجز جلستك الآن</h2>
        <div class="bottom">
          <div class="list">
            <input type="checkbox" name="list1" id="list1">
            <label for="list1">التخصص <img src="../../assets/bottom-arrow.svg" alt=""></label>
            <div class="items">
              <button>الطب العام</button>
              <button>الطب النفسي</button>
              <button>الطب العظمي</button>
              <button>الطب القلبي</button>
              <button>الطب العظمي</button>
            </div>
  
          </div>
          <div class="list">
            <input type="checkbox" name="list2" id="list2">
            <label for="list2">المدينة <img src="../../assets/bottom-arrow.svg" alt=""></label>
            <div class="items">
              <button>القاهرة</button>
              <button>الجيزة</button>
              <button>الأسكندرية</button>
              <button>الدقهلية</button>
              <button>البحيرة</button>
            </div>
  
          </div>
          <div class="list">
            <input type="text" name="doctor" id="doctor" placeholder="اسم الطبيب">
          </div>
          <button class="btn main-button fw invert fh">ابحث <img src="../../assets/search.svg" alt=""></button>
  
        </div>

      </div>
    </section>

    <section class="way-section">
      <div class="container y-u-max-w-1200">
        <div class="header">
          <h2>لماذا MY CLINIC الإختيار الأمثل ؟</h2>
        </div>
        <div class="cards">
          <div class="card">
            <img src="../../assets/way1.png" alt="">
            <p> حجز سريع وسهل</p>
          </div>
          <div class="card">
            <img src="../../assets/way2.png" alt="">
            <p>تذكير بالمواعيد عبر الرسائل</p>
          </div>
          <div class="card">
            <img src="../../assets/way3.png" alt="">
            <p>تذكير بالمواعيد عبر الرسائل</p>
          </div>
          <div class="card">
            <img src="../../assets/way4.png" alt="">
            <p>تقييمات حقيقية من المرضى</p>
          </div>
        </div>
      </div>
    </section>

    <section class="categories-section ">
      <!-- <div class="container y-u-max-w-1200">
        <h2>الفئات</h2>
        <ul class="categories-grid">
          <li class="category-item">
            <img src="../../assets/cat1.jpg" alt="">
            <p>عبايات فاخرة</p>
          </li>
          <li class="category-item">
            <img src="../../assets/cat2.jpg" alt="">
            <p>عبايات يومية</p>
          </li>
          <li class="category-item">
            <img src="../../assets/cat3.jpg" alt="">
            <p>عبايات مطرزة</p>
          </li>
        </ul>
      </div> -->
    </section>
    <section class="about-section">
      <div class="container y-u-max-w-1200 about-grid">

        <!-- <div class="about-content">
          <h2>
            من نحن
          </h2>
          <p class="y-t-muted">
            في My Clinic نحن نؤمن إن كل تفصيلة في سيارتك تستحق الأفضل. موقعنا متخصص في بيع الإكسسوارات وقطع الغيار
            الأصلية وعالية الجودة لمختلف أنواع السيارات، بحيث نوفر لك كل ما تحتاجه للحفاظ على أداء سيارتك ومظهرها بأفضل
            حال. نسعى دايمًا لتقديم تجربة تسوّق سهلة وسريعة، مع ضمان الجودة والأسعار التنافسية، لأن هدفنا إنك تلاقي كل
            قطعة بثقة وسرعة… في My Clinic السرعة والجودة دايمًا في سباق واحد!
          </p>
          <a href="../about-us/about-us.html" class="btn main-button">اعرفى أكثر عنّا</a>
        </div>
        <div class="about-image">
          <img src="../../assets/about-us.jpg" alt="عن عالية My Clinic" />
        </div> -->
      </div>
    </section>

    
    <section class="products-section ">
      <div class="container y-u-max-w-1200">
        <!-- <div class="header">
          <h2>وصل حديثا</h2>
          <a href="../store/store.html">عرض المزيد</a>
        </div> -->
        <!-- <ul class="grid">
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <img src="../../assets/pro1.jpg" alt="">
                <i class="heart fa-solid fa-heart"></i>
                <div class="badge absoulte new">وصل حديثا</div>
                <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                    alt=""></button>
              </div>

            </a>
            <div class="content">
              <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
              </div>
              <p class="price-value">
                <span>
                  200 <img src="../../assets/ryal.svg" alt="">
                </span>
              </p>
            </div>

          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <img src="../../assets/pro1.jpg" alt="">
                <i class="heart fa-solid fa-heart"></i>
                <div class="badge absoulte new">وصل حديثا</div>
                <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                    alt=""></button>
              </div>

            </a>
            <div class="content">
              <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
              </div>
              <p class="price-value">
                <span>
                  200 <img src="../../assets/ryal.svg" alt="">
                </span>
              </p>
            </div>

          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <img src="../../assets/pro1.jpg" alt="">
                <i class="heart fa-solid fa-heart"></i>
                <div class="badge absoulte new">وصل حديثا</div>
                <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                    alt=""></button>
              </div>

            </a>
            <div class="content">
              <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
              </div>
              <p class="price-value">
                <span>
                  200 <img src="../../assets/ryal.svg" alt="">
                </span>
              </p>
            </div>

          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <img src="../../assets/pro1.jpg" alt="">
                <i class="heart fa-solid fa-heart"></i>
                <div class="badge absoulte new">وصل حديثا</div>
                <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                    alt=""></button>
              </div>

            </a>
            <div class="content">
              <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
              </div>
              <p class="price-value">
                <span>
                  200 <img src="../../assets/ryal.svg" alt="">
                </span>
              </p>
            </div>

          </li>
        </ul> -->
      </div>
    </section>

    <section class="products-section ">
      <div class="container y-u-max-w-1200">
        <!-- <div class="header">
          <h2>خصومات</h2>
          <a href="../store/store.html">عرض المزيد</a>
        </div> -->
        <!-- <ul class="grid">
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <img src="../../assets/pro1.jpg" alt="">
                <i class="heart fa-solid fa-heart"></i>
                <div class="badge absoulte sale">خصم 15%</div>
                <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                    alt=""></button>
              </div>
            </a>
            <div class="content">
              <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
              </div>
              <p class="price-value">
                <span>
                  150 <img src="../../assets/ryal-red.svg" alt="">
                </span>
                <span class="grey-ryal">200 <img src="../../assets/ryal.svg" alt=""></span>
              </p>
            </div>

          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <img src="../../assets/pro1.jpg" alt="">
                <i class="heart fa-solid fa-heart"></i>
                <div class="badge absoulte sale">خصم 15%</div>
                <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                    alt=""></button>
              </div>
            </a>
            <div class="content">
              <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
              </div>
              <p class="price-value">
                <span>
                  150 <img src="../../assets/ryal-red.svg" alt="">
                </span>
                <span class="grey-ryal">200 <img src="../../assets/ryal.svg" alt=""></span>
              </p>
            </div>

          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <img src="../../assets/pro1.jpg" alt="">
                <i class="heart fa-solid fa-heart"></i>
                <div class="badge absoulte sale">خصم 15%</div>
                <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                    alt=""></button>
              </div>
            </a>
            <div class="content">
              <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
              </div>
              <p class="price-value">
                <span>
                  150 <img src="../../assets/ryal-red.svg" alt="">
                </span>
                <span class="grey-ryal">200 <img src="../../assets/ryal.svg" alt=""></span>
              </p>
            </div>

          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <img src="../../assets/pro1.jpg" alt="">
                <i class="heart fa-solid fa-heart"></i>
                <div class="badge absoulte sale">خصم 15%</div>
                <button class="btn outline-button">اضافة للسلة <img src="../../assets/add-to-cart-icon.svg"
                    alt=""></button>
              </div>
            </a>
            <div class="content">
              <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                <p>عباية ربع كلوش باللون الكحلي بكسرات</p>
              </div>
              <p class="price-value">
                <span>
                  150 <img src="../../assets/ryal-red.svg" alt="">
                </span>
                <span class="grey-ryal">200 <img src="../../assets/ryal.svg" alt=""></span>
              </p>
            </div>

          </li>
        </ul> -->
      </div>
    </section>
    <section class="opinions-section">
      <!-- <div class="container y-u-max-w-1200">
        <h2>آراء العملاء</h2>
        <ul class="cards">
          <li class="card">
            <div class="opinion">
              <p>بصراحة تجربة التسوق كانت ممتازة! العباية طلعت أجمل من الصورة، والخامة ناعمة جدًا ومريحة. التوصيل كان
                سريع والتغليف أنيق. أكيد مش آخر مرة أطلب منكم ❤️</p>
            </div>
            <div class="client-infos">
              <img src="../../assets/client1.jpg" alt="client-image">
              <div class="left">
                <p>رحمة أحمد</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </div>
              </div>
            </div>
          </li>
          <li class="card">
            <div class="opinion">
              <p>بصراحة تجربة التسوق كانت ممتازة! العباية طلعت أجمل من الصورة، والخامة ناعمة جدًا ومريحة. التوصيل كان
                سريع والتغليف أنيق. أكيد مش آخر مرة أطلب منكم ❤️</p>
            </div>
            <div class="client-infos">
              <img src="../../assets/client1.jpg" alt="client-image">
              <div class="left">
                <p>رحمة أحمد</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </div>
              </div>
            </div>
          </li>
          <li class="card">
            <div class="opinion">
              <p>بصراحة تجربة التسوق كانت ممتازة! العباية طلعت أجمل من الصورة، والخامة ناعمة جدًا ومريحة. التوصيل كان
                سريع والتغليف أنيق. أكيد مش آخر مرة أطلب منكم ❤️</p>
            </div>
            <div class="client-infos">
              <img src="../../assets/client1.jpg" alt="client-image">
              <div class="left">
                <p>رحمة أحمد</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div> -->
    </section>


  </main>



  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
</body>

</html>